body {
  background-color: black;
  background-image: url("8ball/starry-bg.jpg");
  background-size: cover;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: lavender;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  background-color: rgb(0, 0, 0, 0.75);
  box-shadow: 0.3rem 0.2rem 1rem 0.3rem #000000;
  text-align: center;
}
h1 > p {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
#y-n {
  font-size: 3rem;
}
nav {
  display: flex;
  flex-direction: column;
}
button {
  color: white;
  background-color: black;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0.3rem 0.2rem 1rem 0.3rem #ffffff;
}
#shake-again {
  display: none;
}
#teller {
  height: 30rem;
  padding: 3rem;
  align-self: center;
  position: relative;
}
/* #result {
  display: none;
  align-self: center;
  justify-content: center;
  margin-bottom: 7rem;
  padding: 1rem;
  color: black;
  font-size: 2rem;
} */
#result-img {
  width: 250px;
  align-self: center;
  position: absolute;
  margin-top: 5rem;
  opacity: 0;
}
.shaking {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;
  /* When the animation is finished, start again */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
